.prin{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif+Display|Share|Unica+One|Vibur");
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "vibur", cursive;
    font-family: "Abel", sans-serif;
    opacity: .95;
}
form{
    width: 450px;
    min-height: 500pox;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
form .con{
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around: space-around;
    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;

    margin: 0 auto;
}
input-item{
    background: #fff;
    color: #333;
    padding: 14.5px 0 px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}
#eye{
   background: #fff;
   color: #333;git
   
   margin: 5.9px 0 0 0;
   margin-left: -20px;
   padding: 15px 9px 19px 0px;
   border-radius: 0px 5px 5px 0 px;

   float: right;
   position: relative;
   right: 1%;
   top: -.2%;
   z-index: 5;

   cursor: pointer;
}

